[Unit]
Description=The kttp_server, a http server developed for fun!
After=network.target

[Service]
ExecStart=/usr/lib/kttp_server_src/SERVER/threads_v/server_threads
Restart=always
RestartSec=180  # 3 minutes

[Install]
WantedBy=default.target
